<a href="https://colab.research.google.com/github/CianOSull/AutoML_With_SA_FYP_2021/blob/H2O/MainNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Generic Notebook for running all the libraries

How this notebook works is that it contains the code
for loading and cleaning the dataset.

Then there is multiple branches created on the
Github that include the code for running each library.

E.g. MLBox branch has the code for running MLBox.

# CURRENT BRANCH: H2O

# Install Library

In [ ]:
# Insert any install comamnds in this cell
!apt-get install default-jre
!java -version
!pip install h2o

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-jre is already the newest version (2:1.11-68ubuntu1~18.04.1).
default-jre set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 29 not upgraded.
openjdk version "11.0.10" 2021-01-19
OpenJDK Runtime Environment (build 11.0.10+9-Ubuntu-0ubuntu1.18.04)
OpenJDK 64-Bit Server VM (build 11.0.10+9-Ubuntu-0ubuntu1.18.04, mixed mode, sharing)
Collecting h2o
  Downloading https://files.pythonhosted.org/packages/d4/d4/5c07504a392e94786e7cf33554d961ac4b2863aa22a07b8579940ea1f6b5/h2o-3.32.0.4.tar.gz (164.6MB)
     |████████████████████████████████| 164.6MB 92kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.9)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Collecting colorama>=0.3.8
  Downloading https://files.pythonhosted.org/packages/44/98/5b86278fbbf250d239ae0ecb724f8572af1c91f4a11edf4d36a206189440/colorama-0.4.4-py2.py3-none-any.whl
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.32.0.4-py2.py3-none-any.whl size=164670979 sha256=8fa96754589607b836fc2ec30b91ff87a36dda0902cff6d6630428be92f86dba
  Stored in directory: /root/.cache/pip/wheels/65/f4/0d/c9bb958d70c2e015c968cb91cbd7f1b486933056d422337d75
Successfully built h2o
Installing collected packages: colorama, h2o
Successfully installed colorama-0.4.4 h2o-3.32.0.4

# Preprocessing Section

In [ ]:
# Import the necessary modules for cleaning
import math
import time 
import pandas as pd
import numpy as np
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize 
from sklearn.utils import shuffle
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [ ]:
# Create the set of stopwords for cleaning text
stopwords = set(w.rstrip() for w in open('/content/drive/MyDrive/CIT/FYP/ImplementationFiles/stopwords.txt'))

In [ ]:
# Download the necessary parts for the NLTK module
import nltk
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
# This funciton handles celaning text
def clean_text(text):
    # Create the lemmatizer
    wordnet_lemmatizer = WordNetLemmatizer()
    
    # Get rid of non alpha characters except "'" as it is needed for the lemment
    text = "".join(c for c in text if c.isalnum() or c == " " or "'")
    
    # Get rid of capitals
    text = text.lower()
    
    # Tokenize the words    
    # Create tokens of each word
    token_text = word_tokenize(text)
    
    # Get rid of any piece of text that isn't over 2 characters
    token_text = [t for t in token_text if len(t) > 2] 
    
    # Put words in base form by doing lemmatization
    token_text = [wordnet_lemmatizer.lemmatize(t) for t in token_text]

    # Remove stopwords
    token_text = [t for t in token_text if t not in stopwords]
    
    # Return the tokens
    return token_text

In [ ]:
# This function will get the term frequencies for word in the review
# TF = Term I frequency in document/total words in document
def calc_tf(term_count, review_corpus):
    # A dictionary of all the term frequencies found
    tf_freq = dict.fromkeys(term_count.keys(), 0)   
    
    # Review corpus is a tokenized list so the total words iteh length
    total_words = len(review_corpus)
    
    # Calculate the term frequency for each word
    for word, count in term_count.items():
        tf_freq[word] = count/total_words
        
    return tf_freq

In [ ]:
# This calcualtes the idf
# IDF = log(2)*(Total number of Documents/documents frequency or documents with term)
def calc_idf(unique_terms, list_doc_terms):   
    # A dicitonary of all the inverse document frequencies
    idf = dict.fromkeys(unique_terms, 0)
    
    # Basically list_doc_terms has all the documents with the term count for each word
    # You go through each document count the terms where they occured
    for doc_terms in list_doc_terms:  
        # This for loop is counting the amount of document a word was in
        for word, value in doc_terms.items():
            if 0 < value:
                idf[word] += 1
        
    # Now we calculate idf
    for word, value in idf.items():
        idf[word] = math.log10(10 / float(value))
    
    return idf

In [ ]:
# Modified this function to return a list as dictionaries arn't needed anymore
def calc_tf_idf(tf, idf, n_terms):
    # Create an array that is of length of the number of unique terms
    tf_idf_array = np.zeros(n_terms)
    
    for index, (word, value) in enumerate(tf.items()):
        # Add the tfidf to the array
        tf_idf_array[index] = value*idf[word]
    
    return tf_idf_array

In [ ]:
def process_text(text_data):
    # A list of all the cleaned reviews
    doc_list = []
    
    # List of all the unique terms
    unique_terms = []
    
    # A list of all the term frequencies
    tf_list = []
    
    for review in text_data:
        # First clean the review
        clean_review = clean_text(review)
        
        # Keeps track of the term counts for each word
        count_dict = {}
        
        # Now lets find the total count for each word
        for token in clean_review:
            if token not in count_dict:
                count_dict[token] = 1
            else:
                count_dict[token] += 1
        
        # Caclulate the term frequencies for each document
        tf_list.append(calc_tf(count_dict, clean_review))
        
        # Then add the dictionary of counts for each document to the list
        doc_list.append(count_dict)
        
        # Then add the new unique terms
        unique_terms = set(unique_terms).union(set(clean_review))
    
    # Calculate the inverse document frequency value
    idf = calc_idf(unique_terms, doc_list)
    
    # This array will contain the tfidf values for each term in each review
    tfidf_values = np.zeros((len(tf_list), len(unique_terms)))
    
    # Now we can get the TFIDF for each document
    for index, term_freq in enumerate(tf_list):
        # This will return an array of the tfidf values calculated.
        # The length of the unique terms list is passed in so that the 
        # Array that is returned matches the tfidf array
        tf_idf_array = calc_tf_idf(term_freq, idf, len(unique_terms))
        # Add this to the overall tfidf values calculated
        tfidf_values[index,:] = tf_idf_array
    
    return tfidf_values

In [ ]:
# Prepare the data
def prepare_data(num):
    print("="*50)

    # Load the dataset
    # imdb_df = pd.read_csv("IMDB Dataset.csv")
    imdb_df = pd.read_csv("/content/drive/MyDrive/CIT/FYP/ImplementationFiles/IMDB_Dataset.csv")
    print("Dataset loaded")
    print("="*50)

    
     # Change each positive and negative value to 1 and 0 respectively    
    # imdb_df['sentiment'] = imdb_df['sentiment'].map({'negative' : 0, 'positive' : 1})
    
    # For testing, a much smaller dataset is going to be used
    # imdb_df = imdb_df.head(25000)

    # Group all the negative reviews and get the first 2500
    # imdb_df_neg = (imdb_df[imdb_df['sentiment'] == 0])[0:num]
    imdb_df_neg = (imdb_df[imdb_df['sentiment'] == "negative"])[0:num]
    
    # Group all the positive and get the first 2500
    # imdb_df_pos = imdb_df[imdb_df['sentiment'] == 1][0:num]
    imdb_df_pos = imdb_df[imdb_df['sentiment'] == "positive"][0:num]
    
    # Combine the two split positives and negatives into one dataframe
    imdb_df = pd.concat([imdb_df_neg, imdb_df_pos]) 
    # print(test_df)
    
    # .values on a column of a dataframe returns a numpy array
    # This is a numpy array of all the reviews
    # initial_reviews = imdb_df['review'].values
    initial_reviews = imdb_df['review'].values
    
    # This is a numpy array of all the positive and negativelabels
    # labels = imdb_df['sentiment'].values
    labels = imdb_df['sentiment'].values
    
    print("Creating Feature Vector")
    print("="*50)
    start = time.time()
    # Process the text data and create teh feature vector
    feature_vector = process_text(initial_reviews)
    end = time.time()
    print("Feature Vector Created")
    print(len(feature_vector))
    print(f"Execution time is {end - start} secs")
    print("="*50)
    
    # Shuffle the labesl and feature vector using sklearn shuffle
    feature_vector, labels = shuffle(feature_vector, labels)
    
    return feature_vector, labels

# Create Model Section

**Documentation on manipulating data for h2o**

http://docs.h2o.ai/h2o/latest-stable/h2o-docs/data-munging.html

http://docs.h2o.ai/h2o/latest-stable/h2o-docs/automl.html#automl-interface

# Youtube tutorial
https://github.com/srivatsan88/YouTubeLI/blob/master/H2O_AutoML.ipynb

**BIG NOTE**

It seems because of how much H2O automates everything, it only takes in files. Thus a possible solution for running it on the tf idf values is to make a pandas dataframe using the numpy values, then convert it to a csv file and then feed it into the h2o.

There is also h2o.sklearn which allows h2o to work with sklearn and does allow it to work with numpy so maybe test that out.

In [ ]:
# Start up h2o
import h2o
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.10" 2021-01-19; OpenJDK Runtime Environment (build 11.0.10+9-Ubuntu-0ubuntu1.18.04); OpenJDK 64-Bit Server VM (build 11.0.10+9-Ubuntu-0ubuntu1.18.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.7/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpq7xsbbw8
  JVM stdout: /tmp/tmpq7xsbbw8/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpq7xsbbw8/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.0.4
H2O_cluster_version_age:    1 month and 2 days
H2O_cluster_name:           H2O_from_python_unknownUser_yf6ua6
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.180 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.10 final
--------------------------  ------------------------------------------------------------------

In [ ]:
# X_train, y_train, X_test, y_test = prepare_data()
# num = 100 worked
feature_vector, labels = prepare_data(500)

# Convert feature_vectors into a pandas dataframe of 
# term frequency inverse document frequency of each word
tfidf_tf = pd.DataFrame(feature_vector)

# Add the labels
tfidf_tf['labels'] = labels

#==========================================
# Insert the code for running the libraries in here
h2o_tfidf = h2o.H2OFrame(tfidf_tf)
# Set labels to be a categorical field
h2o_tfidf['labels'] = h2o_tfidf['labels'].asfactor()
# print(h2o_tfidf.head())

==================================================
Dataset loaded
==================================================
Creating Feature Vector
==================================================
Feature Vector Created
1000
Execution time is 6.833028793334961 secs
==================================================
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [ ]:
y = "labels"
x = h2o_tfidf.columns
x.remove(y)

h2o_tfidf_train, h2o_tfidf_test, h2o_tfidf_valid = h2o_tfidf.split_frame(ratios=[0.7, 0.15])

print("Splits created")

Splits created

In [ ]:
from h2o.automl import H2OAutoML

# This is using 10 max models, so it will only create 10
# You can also tell it to not try to use stacked ensemble.
# In this initial test stacked ensemble will be removed to keep it simple
# though deep learning will be allowed since it is good on text data
# You can also set timeboxes for how long models can run
# Verbosity sets whetehr it gives out information while running
# nfolds is for validation, by default it is set to 5 and will create validation splits
# set nfolds to 0 if you have created your own validation split
# Model names go like this h2o_datasize_MaxModels_Time_Seed
h2o_model = H2OAutoML(max_models = 10, seed = 5, exclude_algos = ["StackedEnsemble", "DeepLearning"], verbosity="info", nfolds=0, project_name="h2o_1000_10_na_5")

In [ ]:
exceptions_model = []

# success = False

# The server seems to fail sometiems but saw a stack overflow which I think
# said that by running it 3 times, it just works
# Tried it once and now and succeded but then ran again so set it to only run once
for i in range(3):
  # if (!success):
  try:   
    h2o_model.train(x = x, y = y, training_frame = h2o_tfidf_train, validation_frame=h2o_tfidf_valid)

    # Break is here because if it doesnt finish with an error, the models are done    
    break
    # success = True
  except Exception as e:
    # success = False
    exceptions_model.append(e)

print(len(exceptions_model))
# print(exceptions_model[0])

AutoML progress: |
22:18:44.533: Project: h2o_1000_10_na_5
22:18:44.537: Cross-validation disabled by user: no fold column nor nfolds > 1.
22:18:44.557: Setting stopping tolerance adaptively based on the training frame: 0.037582301400141446
22:18:44.558: Build control seed: 5
22:18:44.558: Since cross-validation is disabled, and no leaderboard frame was provided, automatically split the training data into training and leaderboard frames in the ratio 90/10
22:19:00.463: training frame: Frame key: automl_training_py_3_sid_8a30    cols: 18198    rows: 631  chunks: 18    size: 26768161  checksum: 343775478583807757
22:19:00.530: validation frame: Frame key: py_5_sid_8a30    cols: 18198    rows: 141  chunks: 18    size: 26320998  checksum: 4702055585537513231
22:19:03.355: leaderboard frame: Frame key: automl_leaderboard_py_3_sid_8a30    cols: 18198    rows: 77  chunks: 18    size: 26271768  checksum: 3592934798136410200
22:19:03.355: blending frame: NULL
22:19:03.355: response column: labels
22:19:03.355: fold column: null
22:19:03.355: weights column: null
22:19:03.782: Loading execution steps: [{XGBoost : defaults}, {GLM : defaults}, {DRF : [def_1]}, {GBM : defaults}, {DeepLearning : defaults}, {DRF : [XRT]}, {XGBoost : grids}, {GBM : grids}, {DeepLearning : grids}, {GBM : [lr_annealing]}, {XGBoost : [lr_search]}, {StackedEnsemble : defaults}]
22:19:03.818: Disabling Algo: DeepLearning as requested by the user.
22:19:03.819: Disabling Algo: StackedEnsemble as requested by the user.
22:19:03.830: AutoML job created: 2021.02.24 22:18:44.528
22:19:03.830: AutoML build started: 2021.02.24 22:19:03.830
22:19:03.869: AutoML: starting XGBoost_1_AutoML_20210224_221844 model training
22:19:07.492: New leader: XGBoost_1_AutoML_20210224_221844, auc: 0.5506155950752394
22:19:07.493: AutoML: starting XGBoost_2_AutoML_20210224_221844 model training
22:19:09.928: New leader: XGBoost_2_AutoML_20210224_221844, auc: 0.573187414500684
22:19:09.928: AutoML: starting XGBoost_3_AutoML_20210224_221844 model training
22:19:12.414: AutoML: starting GLM_1_AutoML_20210224_221844 model training
22:19:17.759: AutoML: starting DRF_1_AutoML_20210224_221844 model training
22:19:29.478: AutoML: starting GBM_1_AutoML_20210224_221844 model training
22:19:38.767: AutoML: starting GBM_2_AutoML_20210224_221844 model training
22:19:47.145: AutoML: starting GBM_3_AutoML_20210224_221844 model training
22:19:54.390: AutoML: starting GBM_4_AutoML_20210224_221844 model training
22:20:03.772: AutoML: starting GBM_5_AutoML_20210224_221844 model training
22:20:09.98: Skipping StackedEnsemble 'best' due to the exclude_algos option.
22:20:09.99: Skipping StackedEnsemble 'all' due to the exclude_algos option.
22:20:09.101: Skipping StackedEnsemble 'monotonic' due to the exclude_algos option.
22:20:09.101: Actual modeling steps: [{XGBoost : [def_1 (10), def_2 (10), def_3 (10)]}, {GLM : [def_1 (10)]}, {DRF : [def_1 (10)]}, {GBM : [def_1 (10), def_2 (10), def_3 (10), def_4 (10), def_5 (10)]}]
22:20:09.101: AutoML build stopped: 2021.02.24 22:20:09.101
22:20:09.101: AutoML build done: built 10 models
22:20:09.101: AutoML duration:  1 min  5.271 sec
22:20:31.443: Project: h2o_1000_10_na_5
22:20:31.443: Cross-validation disabled by user: no fold column nor nfolds > 1.
22:20:31.444: Setting stopping tolerance adaptively based on the training frame: 0.037582301400141446
22:20:31.444: Build control seed: 5
22:20:31.444: Since cross-validation is disabled, and no leaderboard frame was provided, automatically split the training data into training and leaderboard frames in the ratio 90/10
22:20:46.614: training frame: Frame key: automl_training_py_3_sid_8a30    cols: 18198    rows: 631  chunks: 18    size: 26768161  checksum: 343775478583807757
22:20:46.687: validation frame: Frame key: py_5_sid_8a30    cols: 18198    rows: 141  chunks: 18    size: 26320998  checksum: 4702055585537513231
22:20:49.502: leaderboard frame: Frame key: automl_leaderboard_py_3_sid_8a30    cols: 18198    rows: 77  chunks: 18    size: 26271768  checksum: 3592934798136410200
22:20:49.502: blending frame: NULL
22:20:49.502: response column: labels
22:20:49.503: fold column: null
22:20:49.503: weights column: null
22:20:49.517: New models will be added to existing leaderboard h2o_1000_10_na_5@@labels (leaderboard frame=automl_leaderboard_py_3_sid_8a30) with already 10 models.
22:20:49.520: Loading execution steps: [{XGBoost : defaults}, {GLM : defaults}, {DRF : [def_1]}, {GBM : defaults}, {DeepLearning : defaults}, {DRF : [XRT]}, {XGBoost : grids}, {GBM : grids}, {DeepLearning : grids}, {GBM : [lr_annealing]}, {XGBoost : [lr_search]}, {StackedEnsemble : defaults}]
22:20:49.520: Disabling Algo: DeepLearning as requested by the user.
22:20:49.520: Disabling Algo: StackedEnsemble as requested by the user.
22:20:49.521: AutoML job created: 2021.02.24 22:20:31.439
22:20:49.522: AutoML build started: 2021.02.24 22:20:49.522
22:20:49.522: AutoML: starting XGBoost_1_AutoML_20210224_222031 model training

█
22:20:53.848: AutoML: starting XGBoost_2_AutoML_20210224_222031 model training

██
22:20:57.266: AutoML: starting XGBoost_3_AutoML_20210224_222031 model training
22:21:00.633: AutoML: starting GLM_1_AutoML_20210224_222031 model training

██
22:21:03.993: AutoML: starting DRF_1_AutoML_20210224_222031 model training

███████
22:21:15.402: AutoML: starting GBM_1_AutoML_20210224_222031 model training

██
22:21:23.751: AutoML: starting GBM_2_AutoML_20210224_222031 model training

█
22:21:32.99: AutoML: starting GBM_3_AutoML_20210224_222031 model training

███
22:21:40.457: AutoML: starting GBM_4_AutoML_20210224_222031 model training

████
22:21:51.789: AutoML: starting GBM_5_AutoML_20210224_222031 model training

██████████████████████████████████| 100%

22:21:56.85: Skipping StackedEnsemble 'best' due to the exclude_algos option.
22:21:56.86: Skipping StackedEnsemble 'all' due to the exclude_algos option.
22:21:56.86: Skipping StackedEnsemble 'monotonic' due to the exclude_algos option.
22:21:56.86: Actual modeling steps: [{XGBoost : [def_1 (10), def_2 (10), def_3 (10)]}, {GLM : [def_1 (10)]}, {DRF : [def_1 (10)]}, {GBM : [def_1 (10), def_2 (10), def_3 (10), def_4 (10), def_5 (10)]}]
22:21:56.86: AutoML build stopped: 2021.02.24 22:21:56.86
22:21:56.86: AutoML build done: built 10 models
22:21:56.86: AutoML duration:  1 min  6.564 sec

0

In [ ]:
lb = h2o_model.leaderboard
  
lb.head()

model_id,auc,logloss,aucpr,mean_per_class_error,rmse,mse
XGBoost_2_AutoML_20210224_221844,0.573187,0.775198,0.581637,0.452804,0.523931,0.274503
XGBoost_2_AutoML_20210224_222031,0.573187,0.775198,0.581637,0.452804,0.523931,0.274503
XGBoost_1_AutoML_20210224_222031,0.550616,0.804332,0.582954,0.402531,0.532957,0.284043
XGBoost_1_AutoML_20210224_221844,0.550616,0.804332,0.582954,0.402531,0.532957,0.284043
GBM_1_AutoML_20210224_221844,0.52052,0.713749,0.584197,0.455882,0.510511,0.260621
GBM_1_AutoML_20210224_222031,0.52052,0.713749,0.584197,0.455882,0.510511,0.260621
GBM_3_AutoML_20210224_221844,0.519836,0.726438,0.536688,0.423393,0.515188,0.265419
GBM_3_AutoML_20210224_222031,0.519836,0.726438,0.536688,0.423393,0.515188,0.265419
GBM_5_AutoML_20210224_221844,0.5171,0.70004,0.547834,0.482216,0.503217,0.253227
GBM_5_AutoML_20210224_222031,0.5171,0.70004,0.547834,0.482216,0.503217,0.253227

In [ ]:
# Using the best model make predictions
h2o_tfidf_pred = h2o_model.leader.predict(h2o_tfidf_test)

xgboost prediction progress: |████████████████████████████████████████████| 100%

In [ ]:
# First 10 predictions
h2o_tfidf_pred.head()
# Shows the probabilities for each one

predict,negative,positive
positive,0.871038,0.128962
positive,0.81946,0.18054
positive,0.531022,0.468978
positive,0.57719,0.42281
positive,0.727484,0.272516
positive,0.733237,0.266763
positive,0.352137,0.647863
positive,0.708516,0.291484
positive,0.501457,0.498543
positive,0.396234,0.603766

In [ ]:
# This is a performance report
h2o_model.leader.model_performance(h2o_tfidf_test)

ModelMetricsBinomial: xgboost
** Reported on test data. **

MSE: 0.31978510463995274
RMSE: 0.565495450591738
LogLoss: 0.8671292979918205
Mean Per-Class Error: 0.45664534470504625
AUC: 0.4566453447050462
AUCPR: 0.47080266284168487
Gini: -0.0867093105899076

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.056861039251089096:

             negative  positive   Error           Rate
0  negative       1.0      83.0  0.9881    (83.0/84.0)
1  positive       0.0      67.0     0.0     (0.0/67.0)
2     Total       1.0     150.0  0.5497   (83.0/151.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold      value    idx
0                        max f1   0.056861   0.617512  149.0
1                        max f2   0.056861   0.801435  149.0
2                  max f0point5   0.056861   0.502249  149.0
3                  max accuracy   0.857004   0.589404   12.0
4                 max precision   0.916136   1.000000    0.0
5                    max recall   0.056861   1.000000  149.0
6               max specificity   0.916136   1.000000    0.0
7              max absolute_mcc   0.497644   0.209723   82.0
8    max min_per_class_accuracy   0.507783   0.404762   77.0
9   max mean_per_class_accuracy   0.857004   0.543355   12.0
10                      max tns   0.916136  84.000000    0.0
11                      max fns   0.916136  66.000000    0.0
12                      max fps   0.040599  84.000000  150.0
13                      max tps   0.056861  67.000000  149.0
14                      max tnr   0.916136   1.000000    0.0
15                      max fnr   0.916136   0.985075    0.0
16                      max fpr   0.040599   1.000000  150.0
17                      max tpr   0.056861   1.000000  149.0

Gains/Lift Table: Avg response rate: 44.37 %, avg score: 51.79 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.013245  ...       125.373134            0.029851
1       2                  0.026490  ...        69.029851            0.032871
2       3                  0.033113  ...        35.223881            0.020967
3       4                  0.046358  ...        28.784648            0.023987
4       5                  0.052980  ...        40.858209            0.038913
5       6                  0.105960  ...        40.858209            0.077825
6       7                  0.152318  ...        17.585983            0.048152
7       8                  0.205298  ...         9.051517            0.033404
8       9                  0.304636  ...        -2.011681           -0.011016
9      10                  0.403974  ...       -15.023244           -0.109097
10     11                  0.503311  ...       -19.933229           -0.180348
11     12                  0.602649  ...       -13.318025           -0.144279
12     13                  0.701987  ...        -8.575049           -0.108209
13     14                  0.801325  ...        -1.282842           -0.018479
14     15                  0.900662  ...        -2.227831           -0.036070
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

In [ ]:
best_model = h2o.get_model(h2o_model.leader.model_id)
best_model.confusion_matrix()

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.46533888578414917:

             negative  positive   Error           Rate
0  negative     266.0      46.0  0.1474   (46.0/312.0)
1  positive      27.0     292.0  0.0846   (27.0/319.0)
2     Total     293.0     338.0  0.1157   (73.0/631.0)

In [ ]:
# This outputs the model as a mojo file which is meant to be a binary object 
# that can work in other languages
h2o_model.leader.download_mojo(path = "/content/drive/MyDrive/CIT/FYP/ImplementationFiles/ExportedModels/H2O")

'/content/drive/MyDrive/CIT/FYP/ImplementationFiles/ExportedModels/H2O/XGBoost_2_AutoML_20210224_221844.zip'

In [ ]:
imported_model = h2o.import_mojo("/content/drive/MyDrive/CIT/FYP/ImplementationFiles/ExportedModels/H2O/XGBoost_2_AutoML_20210224_221844.zip")
# Using the best model make predictions
predictions = imported_model.predict(h2o_tfidf_test)
# First 10 predictions
predictions.head()

generic Model Build progress: |███████████████████████████████████████████| 100%
Model Details
=============
H2OGenericEstimator :  Import MOJO Model
Model Key:  Generic_model_python_1614802690840_1


Model Summary:

     number_of_trees
0               30.0

ModelMetricsBinomialGeneric: generic
** Reported on train data. **

MSE: 0.11724930804641072
RMSE: 0.3424168629702847
LogLoss: 0.39274892706918024
Mean Per-Class Error: 0.11603769793424967
AUC: 0.9443724379069207
AUCPR: 0.9454697224036777
Gini: 0.8887448758138414

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.46533888578414917:

             negative  positive   Error           Rate
0  negative     266.0      46.0  0.1474   (46.0/312.0)
1  positive      27.0     292.0  0.0846   (27.0/319.0)
2     Total     293.0     338.0  0.1157   (73.0/631.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.465339    0.888889  216.0
1                        max f2   0.354182    0.920428  260.0
2                  max f0point5   0.585249    0.889371  168.0
3                  max accuracy   0.465339    0.884311  216.0
4                 max precision   0.973840    1.000000    0.0
5                    max recall   0.169793    1.000000  348.0
6               max specificity   0.973840    1.000000    0.0
7              max absolute_mcc   0.465339    0.769837  216.0
8    max min_per_class_accuracy   0.499348    0.880878  202.0
9   max mean_per_class_accuracy   0.465339    0.883962  216.0
10                      max tns   0.973840  312.000000    0.0
11                      max fns   0.973840  318.000000    0.0
12                      max fps   0.020320  312.000000  399.0
13                      max tps   0.169793  319.000000  348.0
14                      max tnr   0.973840    1.000000    0.0
15                      max fnr   0.973840    0.996865    0.0
16                      max fpr   0.020320    1.000000  399.0
17                      max tpr   0.169793    1.000000  348.0

Gains/Lift Table: Avg response rate: 50.55 %, avg score: 49.82 %

   group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0      1                  0.011094  ...        97.805643            0.021944
1      2                  0.020602  ...        97.805643            0.040752
2      3                  0.030111  ...        97.805643            0.059561
3      4                  0.041204  ...        97.805643            0.081505
4      5                  0.050713  ...        97.805643            0.100313
5      6                  0.101426  ...        97.805643            0.200627
6      7                  0.150555  ...        95.723478            0.291466
7      8                  0.201268  ...        96.248118            0.391779
8      9                  0.301109  ...        89.476984            0.544892
9     10                  0.400951  ...        83.732514            0.678985
10    11                  0.500792  ...        75.270823            0.762358
11    12                  0.600634  ...        57.618217            0.699914
12    13                  0.700475  ...        39.627512            0.561390
13    14                  0.800317  ...        24.167106            0.391166
14    15                  0.900158  ...        11.091549            0.201923
15    16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

ModelMetricsBinomialGeneric: generic
** Reported on validation data. **

MSE: 0.3027933343808094
RMSE: 0.5502666030033164
LogLoss: 0.8451628931391548
Mean Per-Class Error: 0.45945674044265594
AUC: 0.4909456740442656
AUCPR: 0.5207189858225564
Gini: -0.01810865191146882

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.03206312656402588:

             negative  positive   Error           Rate
0  negative       0.0      70.0     1.0    (70.0/70.0)
1  positive       0.0      71.0     0.0     (0.0/71.0)
2     Total       0.0     141.0  0.4965   (70.0/141.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold      value    idx
0                        max f1   0.032063   0.669811  140.0
1                        max f2   0.032063   0.835294  140.0
2                  max f0point5   0.032063   0.559055  140.0
3                  max accuracy   0.646269   0.539007   39.0
4                 max precision   0.887307   1.000000    0.0
5                    max recall   0.032063   1.000000  140.0
6               max specificity   0.887307   1.000000    0.0
7              max absolute_mcc   0.163582   0.183052  129.0
8    max min_per_class_accuracy   0.494156   0.514286   70.0
9   max mean_per_class_accuracy   0.646269   0.540543   39.0
10                      max tns   0.887307  70.000000    0.0
11                      max fns   0.887307  70.000000    0.0
12                      max fps   0.052649  70.000000  138.0
13                      max tps   0.032063  71.000000  140.0
14                      max tnr   0.887307   1.000000    0.0
15                      max fnr   0.887307   0.985915    0.0
16                      max fpr   0.052649   1.000000  138.0
17                      max tpr   0.032063   1.000000  140.0

Gains/Lift Table: Avg response rate: 50.35 %, avg score: 48.65 %

   group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0      1                  0.014184  ...        98.591549            0.028169
1      2                  0.021277  ...        32.394366            0.013883
2      3                  0.035461  ...        19.154930            0.013682
3      4                  0.042553  ...        -0.704225           -0.000604
4      5                  0.056738  ...        -0.704225           -0.000805
5      6                  0.106383  ...       -20.563380           -0.044064
6      7                  0.156028  ...        -9.731114           -0.030584
7      8                  0.205674  ...         9.567751            0.039638
8      9                  0.304965  ...        10.841795            0.066600
9     10                  0.404255  ...         4.521868            0.036821
10    11                  0.503546  ...         3.491371            0.035412
11    12                  0.602837  ...         2.800331            0.034004
12    13                  0.702128  ...        -3.713188           -0.052515
13    14                  0.801418  ...        -6.855291           -0.110664
14    15                  0.900709  ...        -4.613508           -0.083702
15    16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

Scoring History:

               timestamp  ... validation_lift  validation_classification_error
0    2021-02-24 22:19:08  ...        1.000000                         0.496454
1    2021-02-24 22:19:08  ...        0.000000                         0.489362
2    2021-02-24 22:19:08  ...        0.992958                         0.496454
3    2021-02-24 22:19:08  ...        0.000000                         0.496454
4    2021-02-24 22:19:08  ...        0.992958                         0.496454
5    2021-02-24 22:19:08  ...        0.992958                         0.496454
6    2021-02-24 22:19:09  ...        1.985915                         0.496454

[7 rows x 16 columns]

Variable Importances:

   variable  relative_importance  scaled_importance  percentage
0        11            48.883972           1.000000    0.051633
1        31            42.746159           0.874441    0.045150
2        14            34.513680           0.706033    0.036455
3        37            31.978783           0.654177    0.033777
4        17            31.398701           0.642311    0.033165
5        42            30.980236           0.633750    0.032723
6        49            28.698563           0.587075    0.030313
7        20            28.396717           0.580900    0.029994
8        33            27.162691           0.555656    0.028690
9        26            25.211611           0.515744    0.026630
10       21            24.304325           0.497184    0.025671
11       10            24.243740           0.495945    0.025607
12       23            24.056665           0.492118    0.025410
13        3            22.962353           0.469732    0.024254
14       28            22.810125           0.466618    0.024093
15       40            22.229950           0.454749    0.023480
16        8            22.186535           0.453861    0.023434
17       45            21.426781           0.438319    0.022632
18       35            20.703175           0.423517    0.021868
19       12            20.555590           0.420498    0.021712

See the whole table with table.as_data_frame()

generic prediction progress: |████████████████████████████████████████████| 100%

predict,negative,positive
positive,0.805842,0.194158
positive,0.824793,0.175207
positive,0.327226,0.672774
positive,0.0474267,0.952573
positive,0.83658,0.16342
positive,0.82161,0.17839
positive,0.524807,0.475193
positive,0.68092,0.31908
positive,0.808547,0.191453
positive,0.297972,0.702028

# Test dataset

In [20]:
# Load the dataset
imdb_df = pd.read_csv("/content/drive/MyDrive/CIT/FYP/ImplementationFiles/NPS_TestContent.csv", encoding='utf8', engine='c')
# imdb_df = pd.read_excel("/content/drive/MyDrive/CIT/FYP/ImplementationFiles/NPS_TestContent.xlsx")

# Group all the negative reviews and get the first 25000
imdb_df_neg = (imdb_df[imdb_df['sentiment'] == "negative"])
# imdb_df_neg = (imdb_df[imdb_df['sentiment'] == 0])
# Group all the positive and get the first 25000
imdb_df_pos = imdb_df[imdb_df['sentiment'] == "positive"]
# imdb_df_pos = imdb_df[imdb_df['sentiment'] == 1]

# Combine the two split positives and negatives into one dataframe
imdb_df = pd.concat([imdb_df_neg, imdb_df_pos]) 

# .values on a column of a dataframe returns a numpy array
# This is a numpy array of all the reviews
# initial_reviews = imdb_df['review'].values
feature_vector = imdb_df['test'].values
# print(feature_vector)

# This is a numpy array of all the positive and negativelabels
labels = imdb_df['sentiment'].values

# Shuffle the labesl and feature vector using sklearn shuffle
feature_vector, labels = shuffle(feature_vector, labels)

# Convert feature_vectors into a pandas dataframe of 
# term frequency inverse document frequency of each word
tfidf_tf = pd.DataFrame(feature_vector)

# Add the labels
tfidf_tf['labels'] = labels

#==========================================
# Insert the code for running the libraries in here
h2o_tfidf = h2o.H2OFrame(tfidf_tf)
# Set labels to be a categorical field
h2o_tfidf['labels'] = h2o_tfidf['labels'].asfactor()
# print(h2o_tfidf.head())

y = "labels"
x = h2o_tfidf.columns
x.remove(y)

h2o_tfidf_train, h2o_tfidf_test, h2o_tfidf_valid = h2o_tfidf.split_frame(ratios=[0.7, 0.15])

print("Splits created")

imported_model = h2o.import_mojo("/content/drive/MyDrive/CIT/FYP/ImplementationFiles/ExportedModels/H2O/XGBoost_2_AutoML_20210224_221844.zip")
# Using the best model make predictions
predictions = imported_model.predict(h2o_tfidf_test)
# First 10 predictions
predictions.head()

Parse progress: |█████████████████████████████████████████████████████████| 100%
Splits created
generic Model Build progress: |███████████████████████████████████████████| 100%
Model Details
=============
H2OGenericEstimator :  Import MOJO Model
Model Key:  Generic_model_python_1614802690840_4


Model Summary:

     number_of_trees
0               30.0

ModelMetricsBinomialGeneric: generic
** Reported on train data. **

MSE: 0.11724930804641072
RMSE: 0.3424168629702847
LogLoss: 0.39274892706918024
Mean Per-Class Error: 0.11603769793424967
AUC: 0.9443724379069207
AUCPR: 0.9454697224036777
Gini: 0.8887448758138414

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.46533888578414917:

             negative  positive   Error           Rate
0  negative     266.0      46.0  0.1474   (46.0/312.0)
1  positive      27.0     292.0  0.0846   (27.0/319.0)
2     Total     293.0     338.0  0.1157   (73.0/631.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.465339    0.888889  216.0
1                        max f2   0.354182    0.920428  260.0
2                  max f0point5   0.585249    0.889371  168.0
3                  max accuracy   0.465339    0.884311  216.0
4                 max precision   0.973840    1.000000    0.0
5                    max recall   0.169793    1.000000  348.0
6               max specificity   0.973840    1.000000    0.0
7              max absolute_mcc   0.465339    0.769837  216.0
8    max min_per_class_accuracy   0.499348    0.880878  202.0
9   max mean_per_class_accuracy   0.465339    0.883962  216.0
10                      max tns   0.973840  312.000000    0.0
11                      max fns   0.973840  318.000000    0.0
12                      max fps   0.020320  312.000000  399.0
13                      max tps   0.169793  319.000000  348.0
14                      max tnr   0.973840    1.000000    0.0
15                      max fnr   0.973840    0.996865    0.0
16                      max fpr   0.020320    1.000000  399.0
17                      max tpr   0.169793    1.000000  348.0

Gains/Lift Table: Avg response rate: 50.55 %, avg score: 49.82 %

   group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0      1                  0.011094  ...        97.805643            0.021944
1      2                  0.020602  ...        97.805643            0.040752
2      3                  0.030111  ...        97.805643            0.059561
3      4                  0.041204  ...        97.805643            0.081505
4      5                  0.050713  ...        97.805643            0.100313
5      6                  0.101426  ...        97.805643            0.200627
6      7                  0.150555  ...        95.723478            0.291466
7      8                  0.201268  ...        96.248118            0.391779
8      9                  0.301109  ...        89.476984            0.544892
9     10                  0.400951  ...        83.732514            0.678985
10    11                  0.500792  ...        75.270823            0.762358
11    12                  0.600634  ...        57.618217            0.699914
12    13                  0.700475  ...        39.627512            0.561390
13    14                  0.800317  ...        24.167106            0.391166
14    15                  0.900158  ...        11.091549            0.201923
15    16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

ModelMetricsBinomialGeneric: generic
** Reported on validation data. **

MSE: 0.3027933343808094
RMSE: 0.5502666030033164
LogLoss: 0.8451628931391548
Mean Per-Class Error: 0.45945674044265594
AUC: 0.4909456740442656
AUCPR: 0.5207189858225564
Gini: -0.01810865191146882

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.03206312656402588:

             negative  positive   Error           Rate
0  negative       0.0      70.0     1.0    (70.0/70.0)
1  positive       0.0      71.0     0.0     (0.0/71.0)
2     Total       0.0     141.0  0.4965   (70.0/141.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold      value    idx
0                        max f1   0.032063   0.669811  140.0
1                        max f2   0.032063   0.835294  140.0
2                  max f0point5   0.032063   0.559055  140.0
3                  max accuracy   0.646269   0.539007   39.0
4                 max precision   0.887307   1.000000    0.0
5                    max recall   0.032063   1.000000  140.0
6               max specificity   0.887307   1.000000    0.0
7              max absolute_mcc   0.163582   0.183052  129.0
8    max min_per_class_accuracy   0.494156   0.514286   70.0
9   max mean_per_class_accuracy   0.646269   0.540543   39.0
10                      max tns   0.887307  70.000000    0.0
11                      max fns   0.887307  70.000000    0.0
12                      max fps   0.052649  70.000000  138.0
13                      max tps   0.032063  71.000000  140.0
14                      max tnr   0.887307   1.000000    0.0
15                      max fnr   0.887307   0.985915    0.0
16                      max fpr   0.052649   1.000000  138.0
17                      max tpr   0.032063   1.000000  140.0

Gains/Lift Table: Avg response rate: 50.35 %, avg score: 48.65 %

   group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0      1                  0.014184  ...        98.591549            0.028169
1      2                  0.021277  ...        32.394366            0.013883
2      3                  0.035461  ...        19.154930            0.013682
3      4                  0.042553  ...        -0.704225           -0.000604
4      5                  0.056738  ...        -0.704225           -0.000805
5      6                  0.106383  ...       -20.563380           -0.044064
6      7                  0.156028  ...        -9.731114           -0.030584
7      8                  0.205674  ...         9.567751            0.039638
8      9                  0.304965  ...        10.841795            0.066600
9     10                  0.404255  ...         4.521868            0.036821
10    11                  0.503546  ...         3.491371            0.035412
11    12                  0.602837  ...         2.800331            0.034004
12    13                  0.702128  ...        -3.713188           -0.052515
13    14                  0.801418  ...        -6.855291           -0.110664
14    15                  0.900709  ...        -4.613508           -0.083702
15    16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

Scoring History:

               timestamp  ... validation_lift  validation_classification_error
0    2021-02-24 22:19:08  ...        1.000000                         0.496454
1    2021-02-24 22:19:08  ...        0.000000                         0.489362
2    2021-02-24 22:19:08  ...        0.992958                         0.496454
3    2021-02-24 22:19:08  ...        0.000000                         0.496454
4    2021-02-24 22:19:08  ...        0.992958                         0.496454
5    2021-02-24 22:19:08  ...        0.992958                         0.496454
6    2021-02-24 22:19:09  ...        1.985915                         0.496454

[7 rows x 16 columns]

Variable Importances:

   variable  relative_importance  scaled_importance  percentage
0        11            48.883972           1.000000    0.051633
1        31            42.746159           0.874441    0.045150
2        14            34.513680           0.706033    0.036455
3        37            31.978783           0.654177    0.033777
4        17            31.398701           0.642311    0.033165
5        42            30.980236           0.633750    0.032723
6        49            28.698563           0.587075    0.030313
7        20            28.396717           0.580900    0.029994
8        33            27.162691           0.555656    0.028690
9        26            25.211611           0.515744    0.026630
10       21            24.304325           0.497184    0.025671
11       10            24.243740           0.495945    0.025607
12       23            24.056665           0.492118    0.025410
13        3            22.962353           0.469732    0.024254
14       28            22.810125           0.466618    0.024093
15       40            22.229950           0.454749    0.023480
16        8            22.186535           0.453861    0.023434
17       45            21.426781           0.438319    0.022632
18       35            20.703175           0.423517    0.021868
19       12            20.555590           0.420498    0.021712

See the whole table with table.as_data_frame()

generic prediction progress: |████████████████████████████████████████████| 100%

/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '1': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '2': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '3': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '4': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '5': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '6': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '7': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '8': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '9': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '10': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '11': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '12': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '13': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '14': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '15': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '16': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '17': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '18': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '19': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '20': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '21': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '22': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '23': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '24': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '25': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '26': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '27': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '28': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '29': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '30': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '31': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '32': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '33': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '34': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '35': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '36': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '37': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '38': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '39': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '40': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '41': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '42': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '43': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '44': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '45': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '46': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '47': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '48': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '49': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '50': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '51': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '52': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '53': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '54': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '55': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '56': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '57': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '58': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '59': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '60': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '61': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '62': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '63': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '64': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '65': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '66': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '67': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '68': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '69': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '70': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '71': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '72': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '73': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '74': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '75': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '76': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '77': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '78': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '79': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '80': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '81': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '82': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '83': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '84': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '85': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '86': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '87': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '88': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '89': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '90': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '91': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '92': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '93': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '94': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '95': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '96': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '97': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '98': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '99': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '100': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '101': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '102': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '103': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '104': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '105': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '106': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '107': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '108': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '109': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '110': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '111': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '112': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '113': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '114': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '115': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '116': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '117': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '118': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '119': substituting in a column of NaN
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset is missing column '120': substituting in a column of NaN
  warnings.warn(w)

predict,negative,positive
positive,0.583526,0.416474